.preview--wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-bottom: 8rem;
  min-height: 30rem;
  width: 100%;
  height: auto;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
}

.preview--wrapper .preview-heading__size {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 2rem;
}

.preview--wrapper .preview-heading__color {
  color: #B139CC;
}


/* change size of screen */
.preview--wrapper .card-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1279px;
  margin: auto;
  height: auto;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-around;
}
