.header--wrapper {
    min-height: 30rem;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: url('../../assets/pictures/headerBackground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.header--wrapper .form-input {
    width: 100%;
    height: 46px;
}

